<div class='hero'>
    <br />
    <div class='frosty text-center'>
        <br />
        <h1>This is the static page index</h1>
        <br />
        <h2>Right now it looks a little rough</h2>
        <br />
        <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
        <br /><br />
    </div>
</div>