<div class='hero'>
    <br />
    <div class='frosty text-center'>
        <br />
        <h1>Develop a passion for learning</h1>
        <h2>and you will never cease to grow</h2>
        <br />
        <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
        <br /><br />
    </div>
</div>

<br />

<div class='row text-center feature'>
    <div class='col-11 col-sm'>
        <h3>Amazing Courses</h3>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class='col-11 col-sm'>
        <h3>Learn at Your Own Pace</h3>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class='col-11 col-sm'>
        <h3>Join Our Community</h3>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>